<div class="navbar">
	<img class="navItem navImg" src="/img/logo/PNG LOGO DAN STAMPLE/logo-resize.webp" alt="">
	<a href="/" class="navItem navBrand">

	</a>
	<div class="headnavmobile">
		<p class="teks">
			PEMAPI
		</p>
		<i class="fas fa-bars hambmenu"></i>
	</div>
	<div class="navItem navLinks">
		<div class="navLinkWrap">
			<a href="/tes" class="navLink pemapi"><i class="fas fa-mobile-alt"></i>pemapi app</a>
			<a href="/index.html" class="navLink home"><i class="fa-solid fa-house"></i>home</a>
		</div>
		<div class="navLinkWrap">
			<a href="/plx" class="navLink">product</a>
		</div>
		<div class="navLinkWrap">
			<a href="" class="navLink">news</a>
		</div>
		<div class="navLinkWrap">
			<a href="/contact-us" class="navLink">contact us</a>
		</div>
		<!-- <div class="navLinkWrap">
			<a href="" class="navLink"><i class="fas fa-shopping-bag"></i>shop</a>
		</div> -->
	</div>
</div>


