
<div class="parallax-container">
	<div class="parallax">
		<div class="a1"></div>
	</div>
</div>
<div class="section seca">
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta quisquam et neque error cumque facilis deleniti possimus ducimus adipisci excepturi consectetur dignissimos doloremque quae, ad sunt. Tenetur assumenda quas omnis.
	</p>
</div>
<div class="seca secb">
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor sed sunt blanditiis veritatis? Dicta nobis enim eos obcaecati? Voluptate reiciendis, numquam ullam eligendi mollitia itaque! Quam cumque culpa cum!
	</p>
</div>
<div class="seca secc">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eius quos sunt excepturi eligendi! Molestias temporibus officia eum, necessitatibus sint reprehenderit repellendus veniam totam? Cupiditate ut porro dignissimos reiciendis at.
	</p>
</div>