<div class="seca">
	<img src="img/ilustrasi/PEPI Semprot.png" alt="">
	<div class="a1">
		<p>
			On Progresssss ...
		</p>
		<div class="progress red lighten-5">
			<div class="indeterminate red darken-1"></div>
		</div>
	</div>
</div>