/* Frame 134 */


.hero-section.container-fluid{
  background: #0E3477;
  height: 764px;
}

.hero-section p.judul{
  font-style: normal;
  font-weight: 500;
  font-size: 68px;
  line-height: 72px;
  color: #FFFFFF;
}
/* Karena Semua Berhak Merasa Aman */
.hero-section p.keterangan{
  width: 72%;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: larger;
  color: #A59F9F;
}

.hero-section .wrapper1{
  top: 0;
  right: 0;
  /* width: 710px; */
  width: 115%;
  height: 100%;
}

/* Rectangle 24 */
.rectangle-24{
  width: 53%;
  /* height: 423px; */
  /* height: 62%; */
  height: 30vw;
  max-height: 480px;
  /* left: 778px; */
  left: 0px;
  bottom: 0;
  background: #1757C6;
}

/* Rectangle 25 */
.rectangle-25{
  width: 46%;
  /* height: 324px; */
  /* height: 48%; */
  height: 23vw;
  max-height: 370px;
  /* left: 1054px; */
  left: 46%;
  /* top: 338px; */
  bottom: 32px;
  background: #1757C6;
}

.hero-section img.boys{
  bottom: 0;  
  left: -45px;
  width: 61%;
}
.hero-section img.girl{
  bottom: 0;  
  right: 0;
  width: 76%;
}
.wrapper-btn-quiz{
  bottom: 50px;
  left: 0;
  z-index: 3;
}
.sec4 .a{
  width: 100px;
  height: 100px;
  left: -40px;
}
.sec4 .b{
  width: 100px;
  height: 100px;
  left: 60px;
  top: 100px;
}
.container-fluid.sec2 .row.b .wrapper p{
  font-size: larger;
}
.sec5 .b{
  background: #1757C6;
  width: 34%; 
  height: 340px;
}

.sec6 .b .c .c1{
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.sec7 .b .b2 .b2a{
  background: #1757C6;
  width: 65%;
  height: 70%;
}

.sec9 .b{
  height: 55%;
}


/* tablet */
@media (max-width: 991.98px) {
  .hero-section.container-fluid{
    height: 500px;
  }
  /* Karena Semua Berhak Merasa Aman */
  .hero-section p.judul{
    font-size: 40px;
    line-height: 40px;
  }
  .hero-section p.keterangan{
    width: 75%;
    line-height: unset;
  }
  .hero-section .wrapper1{
    width: 145%;
  }
  .wrapper-btn-quiz{
    bottom: 20px;
  }
  .sec4 .a{
    width: 70px;
    height: 70px;
    left: -20px;
  }
  .sec4 .b{
    width: 70px;
    height: 70px;
    left: 50px;
    top: 70px;
  }
  .sec5 .b{
    width: 64%; 
    height: 300px;
  }
  .sec7 .b2{
    height: 450px;
  }
  .sec9 .b{
    height: 250px;
  }
  .sec9 p{
    font-size: medium !important;
  }
}

/* mobile */
@media (max-width: 576px) {
  /* Karena Semua Berhak Merasa Aman */
  .hero-section p.judul{
    font-size: 26px;
    line-height: 40px;
  }
  /* takinkan keamanan */
  .hero-section p.keterangan{
    width: 100%;
    font-size: medium;
  }
  .hero-section .wrapper1{
    width: 90%;
  }
  .hero-section img.boys{
    /* bottom: 0;   */
    left: 10px;
    width: 58%;
  }
  .hero-section img.girl{
    /* bottom: 0;   */
    /* right: 0; */
    width: 80%;
  }
  .hero-section .wrapper-btn-quiz span, .hero-section .wrapper-btn-quiz span button{
    font-size: small;
  }
  .hero-section .wrapper-btn-quiz span{
    width: 100%;
  }
  .hero-section .wrapper-btn-quiz span button{
    width: 100%;
  }
  .container-fluid.sec2 .row.b .wrapper h3{
    font-size: large;
  }
  .container-fluid.sec2 .row.b .wrapper p{
    font-size: medium;
  }
  /* Rectangle 24 */
.rectangle-24{
  width: 53%;
  height: 52vw;
  max-height: 480px;
  left: 60px;
  bottom: 0;
}

/* Rectangle 25 */
.rectangle-25{
  width: 46%;
  height: 42vw;
  max-height: 370px;
  left: 42%;
  bottom: 20px;
}
  .sec4{
    top: 220px !important;
  }
  .sec4 .a{
    width: 55px;
    height: 55px;
    left: -25px;
  }
  .sec4 .b{
    width: 55px;
    height: 55px;
    left: 30px;
    top: 55px;
  }
  .sec7 .b1 h2{
    font-size: large;
  }
  .sec7 .b1 h3,.sec7 .b1 h4 {
    font-size: medium;
  }
  .Footer .b{
    width: 60px !important;height: 60px !important; top: 25px !important; right: 85px !important;
  }
  .Footer .c{
    width: 60px !important;height: 60px !important;top: 85px !important;right: 25px !important;
  }
}




position: absolute;
width: 603px;
height: 603px;
left: 627px;
top: 131px;

background: url(_70df101b-1f7a-4af9-af10-be7fc8501d94-removebg-preview.png);
filter: drop-shadow(-88px 0px 35px rgba(0, 0, 0, 0.01)) drop-shadow(-50px 0px 30px rgba(0, 0, 0, 0.05)) drop-shadow(-22px 0px 22px rgba(0, 0, 0, 0.09)) drop-shadow(-6px 0px 12px rgba(0, 0, 0, 0.1));


/* _3e1997d1-eca5-45ca-a023-7243254a6e8e-removebg-preview */

position: absolute;
width: 557px;
height: 557px;
left: 883px;
top: 137px;

background: url(_3e1997d1-eca5-45ca-a023-7243254a6e8e-removebg-preview.png);
filter: drop-shadow(-76px -11px 31px rgba(0, 0, 0, 0.01)) drop-shadow(-43px -6px 26px rgba(0, 0, 0, 0.05)) drop-shadow(-19px -3px 19px rgba(0, 0, 0, 0.09)) drop-shadow(-5px -1px 11px rgba(0, 0, 0, 0.1));


/* Group 8 */

position: absolute;
width: 200px;
height: 200px;
left: -40px;
top: 271px;

opacity: 0.5;


/* Rectangle 16 */

position: absolute;
width: 100px;
height: 100px;
left: -40px;
top: 271px;

/* primary-lighter-1 */
background: #1757C6;


/* Rectangle 17 */

position: absolute;
width: 100px;
height: 100px;
left: 60px;
top: 371px;

/* primary-lighter-1 */
background: #1757C6;


/* Frame 125 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 50px 0px 50px 77px;
gap: 231px;

position: absolute;
width: 1440px;
height: 694px;
left: 0px;
top: 0px;



/* Frame 123 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 299px;

width: 766px;
height: 576px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 121 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 19px;

width: 766px;
height: 211px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Karena Semua Berhak Merasa Aman */

width: 766px;
height: 144px;

/* Heading 1 - Medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 68px;
line-height: 72px;
/* or 106% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Yakinkan keamanan, keselamatan, dan kecintaanmu pada sekitar dengan APAR yang tersedia setiap saat */

width: 490px;
height: 48px;

/* Heading 4 - Medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* or 150% */

color: #A59F9F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 122 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 711px;
height: 66px;

background: #FFFFFF;
box-shadow: 0px 78px 31px rgba(0, 0, 0, 0.01), 0px 44px 26px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1);
border-radius: 15px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 7 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

width: 691px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Cari tahu APAR yang cocok dengan kebutuhanmu! */

width: 415px;
height: 24px;

/* Heading 4 - Semibold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 10px;

width: 254px;
height: 46px;

/* red (main) */
background: #BE2523;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Quiz Kebutuhan APAR-Mu! */

width: 214px;
height: 24px;

/* Button */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
